@using BlazingQuiz.Shared

@inject NavigationManager NavigationManager

@inject QuizAuthStateProvider QuizAuthStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Система тестирования</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <AuthorizeView>
            <Authorized>
                <AuthorizeView Roles="@(nameof(UserRole.Admin))" Context="adminContext">

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin/home" Match="NavLinkMatch.All">
                            Главная
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/manage-categories">
                            Управление категориями
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/manage-students">
                            Управление студентами
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/manage-quizes">
                            Управление тестами 
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/add-quiz">
                            Создание тестирования
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="@(nameof(UserRole.Student))" Context="studentContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/student/home" Match="NavLinkMatch.All">
                            Главная
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="student/my-quizes">
                            Мои тестирования
                        </NavLink>
                    </div>
                </AuthorizeView>
                <div class="nav-item px-3">
                    <a role="button" class="nav-link" @onclick="LogoutAsync">
                        Выход
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task LogoutAsync()
    {
        await QuizAuthStateProvider.SetLogoutAsync();
        NavigationManager.NavigateTo("auth/login", replace: true);
    }

}
