@page "/admin/add-quiz"

@inject IQuizApi QuizApi
@inject ICategoryApi CategoryApi

<h1>Создание теста</h1>
<hr />

<EditForm Model="_quiz">
	<DataAnnotationsValidator />
	<div class="row">

		<!-- Поле выбора категории" -->

		<div class="col-sm-3">
			<div class="mb-3">
				<label class="form-label">Категория</label>
				<InputSelect @bind-Value="_quiz.CategoryId" class="form-control">
					<option value="0">Выбрать категорию</option>
					@foreach (var c in _categories)
					{
						<option value="@c.Id">@c.Name</option>
					}
				</InputSelect>
				<ValidationMessage For="() => _quiz.CategoryId" />
			</div>
		</div>

		<!-- Поле ввода названия" -->

		<div class="col-sm-3">
			<div class="mb-3">
				<label class="form-label">Название</label>
				<InputText @bind-Value="_quiz.Name" class="form-controle"/>
				<ValidationMessage For="() => _quiz.Name" />
			</div>
		</div>

		<!-- Поле ввода количества вопросов" -->

		<div class="col-sm-3">
			<div class="mb-3">
				<label class="form-label">Количество вопросов</label>
				<InputNumber @bind-Value="_quiz.TotalQuestions" class="form-controle"/>
				<ValidationMessage For="() => _quiz.TotalQuestions" />
			</div>
		</div>

		<!-- Поле ввода времени на тест" -->

		<div class="col-sm-3">
			<div class="mb-3">
				<label class="form-label">Время (в минутах)</label>
				<InputNumber @bind-Value="_quiz.TimeInMinutes" class="form-controle"/>
				<ValidationMessage For="() => _quiz.TimeInMinutes" />
			</div>
		</div>

		<hr />
		<h4 class="">Вопросы</h4>

		<ol>
			@foreach (var q in _quiz.Questions)
			{
				var random = Guid.NewGuid();

				<li class="shadow p-3 mp-3">

					<!-- Поле ввода вопроса -->

					<textarea @bind="q.Text" class="form-control" rows="3"></textarea>

					<h6>Варинты ответа</h6>

					<ol>
						@foreach (var o in q.Options)
						{
							<li class="p-2 mb-2">
								<div class="input-group">

									<!-- Радиобатн правильного ответа -->

									<div class="input-group-text">
										<input class="form-check-input mt-0" type="radio" name="option_radio_@random" checked="@o.IsCorrect" @onchange="() => SetOptionAsCorrectAnswer(q, o)">
									</div>

									<!-- Поле ввода ответа -->

									<input type="text" @bind="o.Text" class="form-control">

									<!-- Кнопка удаления варианта ответа -->

									<button class="btn btn-danger" type="button" @onclick="() => q.Options.Remove(o)">X</button>
								</div>
							</li>
						}
					</ol>
					<!-- Кнопка "Добавить варианта ответа" -->
					<div class="d-flex justify-content-end"> 
						<button type="button" class="btn btn-sm btn-info" @onclick="() => q.Options.Add(new())">Добавить варинат ответа</button>
					</div>
				</li>
			}
		</ol>

		<!-- Кнопка добавления вопроса -->

		<div class="mt-3 d-flex justify-content-center">
			<button type="button" class="btn-info" @onclick="() => _quiz.Questions.Add(GetDefaultEmptyQuestion())">Добавить вопрос</button>
		</div>

		<!-- Преключатель активности теста -->

		<div class="col-sm-4">
			<div class="mb-3">
				<div class="form-check form-switch">
					<InputCheckbox @bind-Value="_quiz.IsActive" class="form-check-input" type="checkbox" role="switch" id="quizIsActive" />
					<label class="form-check-label" for="quizIsActive">Тест активен?</label>
				</div>
			</div>
		</div>
	</div>

</EditForm>

@code {
	private QuizSaveDto _quiz = new();

	private CategoryDto[] _categories = [];
	protected override async Task OnInitializedAsync()
	{
		var question = GetDefaultEmptyQuestion();
		_quiz.Questions = [question];

		_categories = await CategoryApi.GetCategoriesAsync();
	}

	<!-- Метод добавления нового вопроса -->

	private QuestionDto GetDefaultEmptyQuestion() => new QuestionDto
		{
			Options = [new(), new()]
		};		

	<!-- Метод проверки правильного варианта ответа -->

	private void SetOptionAsCorrectAnswer(QuestionDto q, OptionDto o)
	{
		foreach (var option in q.Options)
		{
			option.IsCorrect = false;
		}
		o.IsCorrect = true;
	}
}
