@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject QuizAuthStateProvider QuizAuthStateProvider

<PageTitle>Home</PageTitle>

<SectionContent SectionName="pageTitle">Домашняя страница</SectionContent>

<h1>Hello, @QuizAuthStateProvider.User?.Name</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorizing>
        <p>Авторизация...</p>
    </Authorizing>
    <NotAuthorized>
        <p>Неавторизован</p>
    </NotAuthorized>
    <Authorized>
        <p>Авторизован: @context.User.Claims.FirstOrDefault(c=> c.Type == ClaimTypes.Name)?.Value</p>
    </Authorized>
</AuthorizeView>

@code{

}